* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {
  padding: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.548);
}

body {
  min-height: 100vh;
  min-width: 100vh;
  background-image: url(../images/clarissa-watson-0aLt3QExk3Y-unsplash.jpg);
  background-size: cover;
}

div {
  background-color: rgba(255, 255, 255, 0.548);
}

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  padding: 30px;
  font-weight: 700;
}

#fresh-gif {
  margin-left: 44px;
}
